.header {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;

    & > h1 {
        font-size: 24px;
    }
    & > span {
        font-size: 12px;
        color: grey;
    }
}

.add_todo {
    display: flex;
    gap:10px;
    align-items: center;
    cursor: pointer;
    padding: 10px;

    & > span {
        font-size:  24px;
        line-height: 22px;
        text-align: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
    }

    & > h3 {
        color:grey;
        font-weight: 500;
        font-size: 16px;
        line-height: 12px;
    }

    &:hover {
        & > span {
            background-color: #db4c3f;
            color: white;
        }
        & > h3 {
            color: #db4c3f;
        }
    }
}

// Todo-form

.todo_form_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 10px;
    border: 1px solid rgb(220, 220 ,200);
}

.todo_form_input {
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    width: 100%;
    font-size: 14px;

    &:focus {
        outline: none;
    }
}
.todo_form_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo_error {
    justify-self: start;
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    color:#db4c3f;
}
.todo_form_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;

    & > button {
        border: none;
        padding: 8px;
        border-radius: 3px;
        cursor: pointer;
    }

    & > button:last-child {
        background-color: #db4c3f;
        color: white;
    }
}

// Todo item

$grey: rgb(234,234,234);

.todo_items_container {
    cursor: pointer;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;

    & > p {
        flex:1;
    }

    &:hover {
        background-color: $grey;
    }
}

.checkbox_container {
    border-color: grey;
    color: #343434;
    height: 16px;
    width: 16px;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
}

.checkbox_icon {
    display: none;
    font-size: 12px;
}

.checkbox_icon_done {
    display: inline;
    font-size: 12px;
}

.checkbox_container:hover {
    .checkbox_icon {
        display: inline;
    }
}

.edit_icon,
.delete_icon {
    color: grey;
    display: flex;
    align-items: center;
    font-size: 18px;

    &:hover {
        color: #343434;
    }
}

.done {
    text-decoration: line-through;
}